/* FiraSans Thin */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* FiraSans ExtraLight */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* FiraSans Light */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* FiraSans Regular */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* FiraSans Medium */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* FiraSans Semibold */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* FiraSans Bold */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* FiraSans ExtraBold */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* FiraSans Black */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ==================ITALIC================= */

/* FiraSans Thin */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* FiraSans ExtraLight */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* FiraSans Light */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* FiraSans Regular */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* FiraSans Medium */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* FiraSans Semibold */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* FiraSans Bold */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* FiraSans ExtraBold */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* FiraSans Black */
@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
