.videoWrapper {
  width: 100%;
  height: 724px;
  position: relative;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: absolute;
  bottom: 202px;
  left: 90px;
  z-index: 2;

  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  & p {
    margin: 0;
    padding: 0;
  }
}
